header {
  height: 300px;
  background-image: url("../assets/header.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: white;
  filter: drop-shadow(2px 2px 1px rgba(116, 113, 113, 0.562));
}

.presentationText {
  display: flex;
  width: 90%;
  margin: 2rem auto;
}

.data {
  display: flex;
  justify-content: space-around;
  height: 12rem;
  flex: 1 1 1;
  margin: 0 0.9rem 0 0.9rem;
}

.keyData {
  text-align: center;
  border: 0.1em solid black;
  width: clamp(18%, 25%, 30%);
}

.contactUsjoinUs {
  margin: 0 auto;
  padding: 2.5rem;
}

.contactUsjoinUs div {
  text-align: center;
  margin: 1rem 0;
}

@media screen and (max-width: 600px) {
  .data {
    flex-direction: column;
    align-items: center;
    height: 25rem;
  }
  .keyData {
    height: 6.25rem;
    width: 90%;
  }
}

@media screen and (min-width: 950px) {
  .data {
    height: 14rem;
  }

  .contactUsjoinUs {
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
}
