@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap');

:root {
--color-grey : #F0F2F5;
--color-black : #050505;
--color-highlight: #F15A2B;
--color-interaction: #1973BF;
--color-line-asso: #8DC73B;
--color-line-inter: #F79A33;
--color-line-admin: #7F4197;
--font-title:'Montserrat', sans-serif;
--font-paragraph:'Hind Guntur', sans-serif;
--font-size-title: 2.5rem;
--font-size-paragraph:1rem;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
  font-family: var(--font-paragraph);
  color: var(--color-black);
}