.pré-inscrit::before,
.inscrit::before,
.banni::before,
.refusé::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.pré-inscrit::before {
  background-color: var(--color-highlight);
}

.inscrit::before {
  background-color: var(--color-line-asso);
}

.banni::before {
  background-color: black;
}

.refusé::before {
  background-color: red;
}
