
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-logo{
  height: 2.5rem;
}

/* **************************************
************** INLINE MENU **************
************************************** */

.navbar-inline{
  display: none;
}

.navbar-inline ul{
  list-style: none;
}

.navbar-inline li{
  display: inline;
}

@media (min-width: 768px) {

  .navbar-inline{
    display: block;
  }
  }

/* **************************************
**************** BURGER ****************
************************************** */

.navbar-burger {
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}
.navbar-burger:hover {
  cursor: pointer;
}

.navbar-bar,
.navbar-bar::before,
.navbar-bar::after {
  display: block;
  width: 2.5rem;
  height: 0.5rem;
  position: relative;
  background-color: var(--color-interaction);
  transition: all 0.5s ease-in-out;
}

.navbar-bar::before,
.navbar-bar::after {
  content: "";
  position: absolute;
  left: 0;
}
.navbar-bar::before {
  transform: translateY(-0.75rem);
}
.navbar-bar::after {
  transform: translateY(0.75rem);
}
.navbar-visible .navbar-bar::before {
  transform: rotate(45deg);
  z-index: 19;
}

.navbar-visible .navbar-bar::after {
  transform: rotate(-45deg);
  z-index: 19;
}

.navbar-visible .navbar-bar {
  width: 0;
  background: transparent;
  z-index: 19;
}

/* **************************************
**************** WRAPPER ****************
************************************** */

.navbar-visible .navbar-menu_wrapper{
  width: 100vw;
  right: 0;
  padding: 3rem 0;
}

.navbar-menu_wrapper {
  position: fixed;
  z-index: 9;
  right: -100vw;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-grey);
  height: 100vh;
  text-align: center;
  transition: 0.6s;
}

.navbar-hr{
  content:"";
  display: block;
  width: 100vw;
  height: 0.5rem;
  position: relative;
  background-color: var(--color-highlight);

}

/* **************************************
**************** FORM *******************
************************************** */

.navbar-legend{
  font-family: var(--font-title);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.navbar-form_members{
  width: 80%;
}

.navbar-form_members input[type=email],
.navbar-form_members input[type=password]{
  border-color: var(--color-highlight);
  width: 100%;
  text-align: center;
  border-radius: 0.6rem;
}

.navbar-input{
  margin-top: 1.5rem;
  width: auto;
}

/* **************************************
************** DESKTOP ******************
************************************** */


@media (min-width: 768px) {

.navbar-burger{
  display: none;
}
}