.backoffice-bloc {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.backoffice-input-half {
  width: 40%;
}

.backoffice_profilinterv_submit_button,
.backoffice_profilasso_submit_button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.backoffice_profilinterv_submit_button .button-blue,
.backoffice_profilasso_submit_button .button-blue {
  margin: 2rem auto;
}

p.bold {
  font-weight: bolder;
}

.profilinter-hr {
  content: "";
  display: block;
  width: 100%;
  height: 0.5rem;
  margin: 1rem 0;
  position: relative;
  background-color: var(--color-highlight);
}

.container-profil {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.4rem;
  height: 220px;
  width: 90%;
}

.profilInter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 0.6rem;
}

.profilInter-img-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.imgDoc {
  width: clamp(7em, 8em, 12em);
  height: clamp(80px, 9em, 220px);
  object-fit: contain;
}
.profilinter-button{
  display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
}