.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.mission {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.66rem;
  width: 23rem;
}

.is-refused-legend::after,
.pending-validation-legend::after,
.is-validated-legend::after,
.is-refused-legend::after,
.is-pourvue-legend::after {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
}

.pending-validation,
.pending-validation-legend::after {
  background-color: orange;
}

.is-validated,
.is-validated-legend::after {
  background-color: green;
}

.is-refused,
.is-refused-legend::after {
  background-color: red;
}

.is-pourvue,
.is-pourvue-legend::after {
  background-color: var(--color-interaction);
}

.finished {
  background-color: light-grey;
}

.section1 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.inline {
  display: inline;
}

.header-mission-synthesis > div {
  display: flex;
  justify-content: center;
}

.legende {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.legende > div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.filters {
  display: flex;
  justify-content: center;
}

.filter-form {
  text-align: center;
}

.masked {
  display: none !important;
}

.description div {
  display: flex;
}

.fullscreen {
  display: flex;
  align-items: flex-end;
}

.description img {
  pointer-events: initial;
  width: 0.5rem;
  margin-right: 0.5rem;
}

.expand-button {
  transform: rotate(90deg);
}

.uncollapsed-expand-button {
  transform: rotate(0deg);
}

.description img:active {
  animation-name: expand;
  animation-duration: 0.3s;
}

.synthesis-validation_area {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

@keyframes expand {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.fullscreen img {
  width: 2rem;
}
@media screen and (min-width: 600px) {
}
